<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <title>Aktualne dane z Polski dotyczące choroby COVID-19</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== NAVBAR TWO PART START ======-->

    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active"><a class="page-scroll" href="#home">start</a></li>
                                <li class="nav-item active"><a class="page-scroll" href="#first-section">example 1</a></li>
                                <li class="nav-item active"><a class="page-scroll" href="#second-section">example 2</a></li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== NAVBAR TWO PART ENDS ======-->
    
    <!--====== HOME PART START ======-->

    <section id="home">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-content">
                            <h1 class="title" id="current-number-of-cases">0</h1>
                            <p class="text">Aktualna liczba zachorowań w Polsce</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->

        </div>
    </section>

    <!--====== HOME PART ENDS ======-->


    <!--====== EXAMPLE SECTION START ======-->

    <section id="first-section" class="section darker-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Title</h3>
                        <p class="text">Some description</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="single-features mt-40">
                        <div id="example-graph1" style="height: 500px;"></div>
                    </div>
                </div>
                <div class="col-lg-2 forecast-panel">
                    <div class="single-features mt-40">
                        <p>Prognoza</p>
                        <button class="forecast-btn no-forecast">BRAK</button><br/>
                        <button class="forecast-btn week-forecast">TYDZIEŃ</button><br/>
                        <button class="forecast-btn month-forecast">MIESIĄC</button><br/>
                        <button class="forecast-btn three-months-forecast">KWARTAŁ</button>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EXAMPLE SECTION ENDS ======-->


    <!--====== EXAMPLE SECTION START ======-->

    <section id="second-section" class="section lighter-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Title</h3>
                        <p class="text">Some description</p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="single-features mt-40">
                        <div id="example-graph2" style="height: 500px;"></div>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EXAMPLE SECTION ENDS ======-->


    <!--====== TOOLTIP STARTS ======-->

    <div id="tooltip">
        <span class="tooltip-content">content</span>
    </div>

    <!--====== TOOLTIP ENDS ======-->


    <!--====== Jquery js ======-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="js/ajax-contact.js"></script>
    
    <!--====== Isotope js ======-->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <!--====== Essential JS UI widget ======-->
    <script src="js/ej.web.all.min.js"></script>

    <!--====== Charts ======-->
    <script src="js/charts.js"></script>

    <!--====== Main js ======-->
    <script src="js/main.js"></script>

</body>

</html>
